# Dependencies
node_modules
.pnp.cjs
.pnp.loader.mjs

# Next.js
.next
out
.next.cache

# Testing / coverage
coverage

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.DS_Store
*.swp
.idea/
.vscode/

# pnpm
.pnpm-store
